@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);

/* Font styles. */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em; }

/* Links */
a:link, a:visited {
  color: blue;
  text-decoration: none; }

a:hover, a:active {
  color: red;
  text-decoration: underline; }

/* Titles. */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em; }

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.4em;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0; }

h6 {
  font-size: 1em;
  font-weight: bold; }

/* Paragraph styles. */
p {
  margin: 0 0 1em 0; }

/* List styles. */
ul, ol {
  margin-left: 0;
  padding-left: 0; }

/* Table styles. */
table {
  width: 99%; }

tr.even td,
tr.odd td {
  padding: 10px 5px; }

tr.odd {
  background-color: white; }

/* Code. */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

pre, code {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa; }

/* List styles. */
ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }
      ul ul ul ul {
        list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: decimal; }

/* Abbreviation. */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap; }

/* UI improvments. */
#edit-title {
  font-size: 24px;
  width: 99%; }

#system-themes-form img {
  width: 100px; }

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777; }

#edit-delete {
  color: #cc0000; }

/* Console, style from slate theme. */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee; }

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55; }

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522; }

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.015em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

ul, ol {
  margin: 0 2em; }

/*
tbody {
  border: 0 none; }
*/

h2 {
  text-decoration: none;
  color: #333333;
  font-size: 1.25em;
  font-weight: 600; }

body {
  font: 13px/1.5 'Open Sans', Helvetica, Arial, sans-serif;
  letter-spacing: -0.005em; }

#header, #highlighted, #main {
  margin-bottom: 1.9em; }

#page {
  padding: 1.9em; }

#main-menu {
  display: block;
  float: right;
  margin: 1.9em 0 0;
  clear: right; }
  #main-menu li {
    display: block;
    float: left;
    padding: 0;
    margin: 0; }
    #main-menu li a {
      color: #000;
      text-decoration: none;
      display: table-cell;
      vertical-align: middle;
      padding: 0 0.5em;
      border-right: 2px solid #69aeb3;
      text-align: center;
      width: 6em;
      height: 2.25em;
      font-size: 1.2em;
      line-height: 110%; }
    #main-menu li.last a {
      border-right: none; }

#block-search-form {
  float: right;
  margin-top: 0.4em; }

#site-name {
  display: none; }

#site-slogan {
  color: #31B6C5;
  /*#2B9DA8; */
  margin: 0;
  font-size: 15px;
  letter-spacing: -0.02em; }

.sidebar-first .block-menu .block-title {
  display: none; }
.sidebar-first .block-menu ul {
  margin: 0; }
.sidebar-first .block-menu li {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none none;
  font-size: 1.385em;
  border-bottom: 1px solid #f8a766; }
  .sidebar-first .block-menu li.active-trail {
    display: list-item; }
    .sidebar-first .block-menu li.active-trail li {
      display: list-item;
      font-size: 0.88em;
      border-bottom: 0 none;
      padding: 0 0 0 20px; }
      .sidebar-first .block-menu li.active-trail li a {
        border-bottom: 0 none;
        color: #333; }
    .sidebar-first .block-menu li.active-trail a {
      color: #000;
      border-bottom: 1px solid #f8a766;
      display: block;
      padding: 0.77em 0;
      text-decoration: none; }

#footer .block-title {
  display: none; }
#footer ul.menu {
  width: 100%;
  padding: 0;
  margin: 0; }
  #footer ul.menu li {
    list-style: none none;
    width: 20%;
    float: left;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 480px) {
      #footer ul.menu li {
        float: none;
        width: auto; } }
    #footer ul.menu li a {
      color: #000;
      font-weight: bold;
      display: block;
      height: 2em; }
      @media screen and (max-width: 768px) {
        #footer ul.menu li a {
          height: 3em; } }
      @media screen and (max-width: 480px) {
        #footer ul.menu li a {
          height: auto; } }
    #footer ul.menu li li {
      width: auto;
      float: none; }
      #footer ul.menu li li a {
        font-weight: normal;
        display: inline; }
  #footer ul.menu ul {
    padding: 0;
    margin: 0;
    width: auto; }
    @media screen and (max-width: 480px) {
      #footer ul.menu ul {
        margin-bottom: 1em; } }

#breadcrumb {
  display: none; }

h1.title {
  display: none; }

